@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&family=Roboto:wght@400;500;700&display=swap');
/* 
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

@layer base {
  body {
        background-color: #fff;
        color: #1a202c;
        transition-property: background-color, color;
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    @media (prefers-color-scheme: dark) {
      body {
        background-color: #111827;
        color: #f3f4f6;
      }
  }
  /* You can also apply font-custom-sans here if it's the default for the whole body */
  /*
  html {
    @apply font-custom-sans;
  }
  */
}